@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

:root {
  --color-dark-blue: hsl(218, 44%, 22%);
  --color-grayish-blue: hsl(219, 26%, 78%);
  --color-white: hsl(0, 16%, 96%);
  --color-light-grey: hsl(212, 45%, 89%);

  --transition: all 400ms ease;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 1440px;
  font-family: "Red Hat Display", sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
}

.nav {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.nav-space {
  margin-right: 25rem;
}

.nav-ctr {
  margin-right: 2rem;
  text-decoration: none;
  color: grey;
}

.pro-img {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.img-nav {
  width: 50px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 100px;
  grid-template-areas: ". container-left, container-left .";
  margin-top: 140px;
}

.container-left {
  margin: 0 auto;
}

.img-left {
  /* margin: 0 auto; */
  height: 350px;
  width: 370px;
  border-radius: 10px;
}

.icon-scr {
  margin-top: 15px;
  height: 70px;
  width: 70px;
  margin-right: 26px;
  border-radius: 10px;
}

h4 {
  color: #d05e01;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 19px;
}

h1 {
  width: 300px;
}

p {
  margin-top: 35px;
  text-align: left;
  width: 400px;
  line-height: 1.5;
}
